html, body {
    height: 100%;
}
.cover-container {
    display: flex;
    flex-direction: column;
}
.cover-container main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav-masthead .nav-link:hover {
    color: rgba(255, 255, 255, .8);
    border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link.active {
    color: white;
    border-bottom-color: white;
}